.pokemon-list {
  margin-top: 30px;
  text-align: left;
}

.pokemon-list h2 {
  text-align: center;
  color: #ff0000;
}

.allPokemonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.headerClass {
  text-align: center;
}

@media (max-width: 1024px) {
  .allPokemonContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .allPokemonContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .pokemon-list {
    margin-top: 20px;
    text-align: center;
  }

  .allPokemonContainer {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .pokemon-list h2 {
    font-size: 18px;
  }
}

.headerClass {
  text-align: center;
}
