.parent-container {
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: auto;
  text-align: center;
  background-image: url("https://sg.portal-pokemon.com/play/resources/pokedex/img/list_bg.jpg");
}

.image-conatiner {
  height: 100px;
  width: 200px;
  align-items: start;
}
